# Investigating Netflix Movies

<center><img src="redpopcorn.jpg"></center>

## Problem Statement

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

### The data
#### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

## Objectives
Perform exploratory data analysis on the netflix_data.csv data to understand more about movies from the 1990s decade.
- What was the most frequent movie duration in the 1990s? Save an approximate answer as an integer called duration.
- A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count.

---
## Solution

First, let's import the necessary packages:
- `numpy` for conducting quick operations on arrays
- `pandas` for reading the csv file and creating dataframes
- `matplotlib` for data visualization

In [20]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

Let's familiarize ourselves with the `netflix_data.csv` file by exploring it's rows, columns and shape.

In [21]:
# Getting to know the data
print(netflix_df.shape)
print(netflix_df)
print(netflix_df.loc[:5, ["date_added", "release_year", "duration"]])

(4812, 11)
     show_id     type       title           director  \
0         s2    Movie        7:19  Jorge Michel Grau
1         s3    Movie       23:59       Gilbert Chan
2         s4    Movie           9        Shane Acker
3         s5    Movie          21     Robert Luketic
4         s6  TV Show          46        Serdar Akar
...      ...      ...         ...                ...
4807   s7779    Movie  Zombieland    Ruben Fleischer
4808   s7781    Movie         Zoo       Shlok Sharma
4809   s7782    Movie        Zoom       Peter Hewitt
4810   s7783    Movie        Zozo        Josef Fares
4811   s7784    Movie      Zubaan        Mozez Singh

                                                   cast        country  \
0     Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
1     Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
2     Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
3     Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
4     Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey
...                                                 ...            ...
4807  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
4808  Shashank Arora, Shweta Tripathi, Rahul Kumar, ...          India
4809  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
4810  Imad Creidi, Antoinette Turk, Elias Gergi, Car...         Sweden
4811  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year  duration  \
0     December 23, 2016          2016        93
1     December 20, 2018          2011        78
2     November 16, 2017          2009        80
3       January 1, 2020          2008       123
4          July 1, 2017          2016         1
...                 ...           ...       ...
4807   November 1, 2019          2009        88
4808       July 1, 2018          2018        94
4809   January 11, 2020          2006        88
4810   October 19, 2020          2005        99
4811      March 2, 2019          2015       111

                                            description             genre
0     After a devastating earthquake hits Mexico Cit...            Dramas
1     When an army recruit is found dead, his fellow...     Horror Movies
2     In a postapocalyptic world, rag-doll robots hi...            Action
3     A brilliant group of students become card-coun...            Dramas
4     A genetics professor experiments with a treatm...  International TV
...                                                 ...               ...
4807  Looking to survive in a world taken over by zo...          Comedies
4808  A drug dealer starts having doubts about his t...            Dramas
4809  Dragged from civilian life, a former superhero...          Children
4810  When Lebanon's Civil War deprives Zozo of his ...            Dramas
4811  A scrappy but poor boy worms his way into a ty...            Dramas

[4812 rows x 11 columns]
          date_added  release_year  duration
0  December 23, 2016          2016        93
1  December 20, 2018          2011        78
2  November 16, 2017          2009        80
3    January 1, 2020          2008       123
4       July 1, 2017          2016         1
5       June 1, 2020          2019        95

### 1. What was the most frequent movie duration in the 1990s? Save an approximate answer as an integer called duration.
---
We can accomplish this task in two steps:

- Filtering - filter the movies/shows that occured in the 1990s
- Counting - counting all the movie durations and storing the most frequent one


#### a) Filter
To solve this, first, we need to filter the `netflix_df` dataframe to get the 'nostalgic movies' - movies/shows released in the '90s. Since **Pandas** is built on top of **Numpy**, we are able to use numpy's `logical_and()` function to filter the rows where 1900 <= year < 2000.

Let's print out our nostalgic movies just to confirm this

In [22]:
# Usung Numpy's logical_and() method to filter the dataframe
nostalgic_movies = netflix_df[np.logical_and(netflix_df["release_year"] >= 1990, netflix_df["release_year"] < 2000)]
print(nostalgic_movies.loc[:, ["date_added", "release_year", "duration"]])

            date_added  release_year  duration
6     November 1, 2019          1997       119
118      April 1, 2018          1993       101
145   December 1, 2019          1998        82
167   December 1, 2020          1996       108
194       June 1, 2017          1993       154
...                ...           ...       ...
4672  October 19, 2020          1999       106
4689   January 1, 2021          1993       118
4718   January 1, 2020          1999       106
4746   January 1, 2020          1994       191
4756      July 1, 2017          1994       148

[184 rows x 3 columns]

#### b) Count
Now that we've filtered our dataframe to the movies and shows that came out in the '90s, we need to count the movie/show durations for the `nostalgic_movies` to get the most frequent movie duration in the 1990s. How do I do this?
- First, I loop through the 'duration' column of the `nostalgic_movies` as a pandas series.
- I store all the elements of this series, which come as integers, into the list `minutes_list`
- I then loop through each element of this newly created list (`minutes_list`) and count each element using the `.count()` method (Ps. I delete each element after counting it to make my code more efficient)
- While counting, I record the element with the highest count in the `duration` variable and the number of times it occurs in the `highest_count` variable
- Once the loop is done, well, looping, the final value of the `duration` variable is the most frequent movie duration

In [23]:
duration = 0
highest_count = 0

minutes_list = []
for minutes in nostalgic_movies.loc[:, "duration"]:
    minutes_list.append(minutes)

for minute in minutes_list:
    minute_count = minutes_list.count(minute)
    
    if minute_count > highest_count:
        highest_count = minute_count
        duration = minute
        
        
    while minute in minutes_list:
        minutes_list.remove(minute)
        
    # print({str(minute): minute_count})
        
print(duration)

94

### 2. A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count.
---
Likewise, we solve this problem using two steps:
- Filtering - filtering the rows with the column 'type' as 'Movie' and the column 'genre' as 'Action'
- Counting - counting the filtered rows that have a duration shorter than 90 minutes

#### i) Filter
Just like the first filter, we use numpy's `logical_and()` function to filter out action movies.

In [24]:
nostalgic_action_movies = nostalgic_movies[np.logical_and(nostalgic_movies["type"] == "Movie", nostalgic_movies["genre"] == "Action")]
print(nostalgic_action_movies)

     show_id   type                                  title  \
352     s508  Movie                        Andaz Apna Apna
431     s628  Movie  Austin Powers: The Spy Who Shagged Me
468     s688  Movie                               Bad Boys
515     s757  Movie                                Barsaat
675    s1003  Movie                            Blue Streak
815    s1236  Movie                          Casino Tycoon
816    s1237  Movie                        Casino Tycoon 2
1018   s1605  Movie                           Dante's Peak
1179   s1850  Movie                            Dragonheart
1288   s2039  Movie              EVANGELION: DEATH (TRUE)²
1299   s2060  Movie                     Executive Decision
1504   s2394  Movie                                 Ghayal
1515   s2408  Movie                      Ghulam-E-Musthafa
1548   s2466  Movie                              GoldenEye
1599   s2551  Movie                                 Gumrah
1661   s2644  Movie                   Haseena Maan Jaayegi
1688   s2693  Movie                          Hello Brother
1698   s2708  Movie                                   Hero
2050   s3256  Movie                      Justice, My Foot!
2124   s3354  Movie                              Khalnayak
2282   s3636  Movie                               Lifeline
2313   s3696  Movie    Lock, Stock and Two Smoking Barrels
2328   s3718  Movie                      Look Out, Officer
2356   s3772  Movie                       Love on Delivery
2521   s4032  Movie                           Men in Black
2616   s4178  Movie                            Money Talks
2867   s4584  Movie               Oh Darling Yeh Hai India
2993   s4787  Movie                           Passenger 57
2997   s4795  Movie                          Patriot Games
3135   s5043  Movie                     Quigley Down Under
3297   s5299  Movie                    Rumble in the Bronx
3483   s5571  Movie                                  Shiva
3546   s5674  Movie                         Small Soldiers
3806   s6114  Movie                    The Bare-Footed Kid
3895   s6254  Movie                               The Crow
3943   s6330  Movie                  The End of Evangelion
4076   s6553  Movie                     The Last Boy Scout
4136   s6645  Movie                      The Mask of Zorro
4140   s6649  Movie                             The Matrix
4168   s6706  Movie                    The Next Karate Kid
4193   s6745  Movie                         The Peacemaker
4245   s6829  Movie                         The River Wild
4361   s7016  Movie                The World Is Not Enough
4445   s7143  Movie                    Tomorrow Never Dies
4456   s7163  Movie                           Total Recall
4490   s7224  Movie                               Trimurti
4718   s7624  Movie                         Wild Wild West
4746   s7682  Movie                             Wyatt Earp

                             director  \
352                 Rajkumar Santoshi
431                         Jay Roach
468                       Michael Bay
515                 Rajkumar Santoshi
675                      Les Mayfield
815                         Wong Jing
816                         Wong Jing
1018                  Roger Donaldson
1179                        Rob Cohen
1288                     Hideaki Anno
1299                     Stuart Baird
1504                Rajkumar Santoshi
1515                     Partho Ghosh
1548                  Martin Campbell
1599                     Mahesh Bhatt
1661                     David Dhawan
1688                      Sohail Khan
1698                       Corey Yuen
2050                       Johnnie To
2124                     Subhash Ghai
2282                       Johnnie To
2313                      Guy Ritchie
2328                       Sze Yu Lau
2356                     Stephen Chow
2521                 Barry Sonnenfeld
2616                     Brett Ratner
2867                      Ketan Mehta
2993                      Kevin Hooks
2997                    Phillip Noyce
3135                     Simon Wincer
3297                     Stanley Tong
3483                  Ram Gopal Varma
3546                        Joe Dante
3806                       Johnnie To
3895                      Alex Proyas
3943   Hideaki Anno, Kazuya Tsurumaki
4076                       Tony Scott
4136                  Martin Campbell
4140  Lilly Wachowski, Lana Wachowski
4168                 Christopher Cain
4193                       Mimi Leder
4245                    Curtis Hanson
4361                    Michael Apted
4445               Roger Spottiswoode
4456                   Paul Verhoeven
4490                      Mukul Anand
4718                 Barry Sonnenfeld
4746                  Lawrence Kasdan

                                                   cast         country  \
352   Aamir Khan, Salman Khan, Raveena Tandon, Karis...           India
431   Mike Myers, Heather Graham, Michael York, Robe...   United States
468   Will Smith, Martin Lawrence, Téa Leoni, Tchéky...   United States
515   Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...           India
675   Martin Lawrence, Luke Wilson, Peter Greene, Da...         Germany
815                                           Wong Jing       Hong Kong
816                                         Dennis Chan       Hong Kong
1018  Pierce Brosnan, Linda Hamilton, Elizabeth Hoff...   United States
1179  Sean Connery, Dennis Quaid, David Thewlis, Pet...   United States
1288  Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...           Japan
1299  Kurt Russell, Halle Berry, John Leguizamo, Oli...   United States
1504  Sunny Deol, Meenakshi Sheshadri, Amrish Puri, ...           India
1515  Nana Patekar, Raveena Tandon, Paresh Rawal, Ar...           India
1548  Pierce Brosnan, Sean Bean, Izabella Scorupco, ...  United Kingdom
1599  Sanjay Dutt, Sridevi, Anupam Kher, Rahul Roy, ...           India
1661  Sanjay Dutt, Govinda, Karisma Kapoor, Pooja Ba...           India
1688  Salman Khan, Arbaaz Khan, Rani Mukerji, Johny ...           India
1698  Takeshi Kaneshiro, Yuen Biao, Valerie Chow, Je...       Hong Kong
2050  Stephen Chow, Anita Mui, Carrie Ng, Wai Ai, Be...       Hong Kong
2124  Sanjay Dutt, Madhuri Dixit, Jackie Shroff, Anu...           India
2282  Lau Ching Wan, Alex Fong, Carman Lee, Ruby Won...       Hong Kong
2313  Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...  United Kingdom
2328  Stephen Chow, Bill Tung, Stanley Sui-Fan Fung,...       Hong Kong
2356            Stephen Chow, Christy Chung, Ng Man-Tat       Hong Kong
2521  Tommy Lee Jones, Will Smith, Linda Fiorentino,...   United States
2616  Charlie Sheen, Chris Tucker, Heather Locklear,...   United States
2867  Shah Rukh Khan, Deepa Sahi, Javed Jaffrey, Anu...           India
2993  Wesley Snipes, Bruce Payne, Tom Sizemore, Alex...   United States
2997  Harrison Ford, Anne Archer, Patrick Bergin, Se...   United States
3135  Tom Selleck, Laura San Giacomo, Alan Rickman, ...       Australia
3297  Jackie Chan, Anita Mui, Françoise Yip, Bill Tu...       Hong Kong
3483  Nagarjuna Akkineni, Amala, Rajendranath Zutshi...           India
3546  Kirsten Dunst, Gregory Smith, Jay Mohr, Phil H...   United States
3806  Aaron Kwok, Lung Ti, Maggie Cheung, Chien-lien...       Hong Kong
3895  Brandon Lee, Rochelle Davis, Ernie Hudson, Mic...   United States
3943  Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...           Japan
4076  Bruce Willis, Damon Wayans, Chelsea Field, Nob...   United States
4136  Antonio Banderas, Anthony Hopkins, Catherine Z...   United States
4140  Keanu Reeves, Laurence Fishburne, Carrie-Anne ...   United States
4168  Pat Morita, Hilary Swank, Michael Ironside, Co...   United States
4193  George Clooney, Nicole Kidman, Marcel Iures, A...   United States
4245  Meryl Streep, Kevin Bacon, David Strathairn, J...   United States
4361  Pierce Brosnan, Sophie Marceau, Robert Carlyle...  United Kingdom
4445  Pierce Brosnan, Jonathan Pryce, Michelle Yeoh,...  United Kingdom
4456  Arnold Schwarzenegger, Rachel Ticotin, Sharon ...   United States
4490  Anil Kapoor, Shah Rukh Khan, Jackie Shroff, Sa...           India
4718  Will Smith, Kevin Kline, Kenneth Branagh, Salm...   United States
4746  Kevin Costner, Dennis Quaid, Gene Hackman, Dav...   United States

             date_added  release_year  duration  \
352        May 11, 2020          1994       160
431    December 1, 2019          1999        95
468     October 1, 2019          1995       119
515       April 1, 2018          1995       166
675     January 1, 2021          1999        94
815      August 1, 2018          1992       125
816     August 16, 2018          1992       108
1018  September 1, 2019          1997       108
1179    January 1, 2020          1996       103
1288      June 21, 2019          1998        69
1299   November 1, 2019          1996       133
1504  December 31, 2019          1990       163
1515  December 31, 2019          1997       161
1548  December 31, 2019          1995       130
1599      April 1, 2020          1993       149
1661      March 1, 2018          1999       151
1688    January 4, 2021          1999       126
1698     August 1, 2018          1997        89
2050    August 31, 2018          1992        95
2124      March 1, 2018          1993       170
2282    August 16, 2018          1997       104
2313    January 1, 2019          1998       108
2328    August 16, 2018          1990        88
2356    August 16, 2018          1994        93
2521   October 19, 2019          1997        98
2616   November 1, 2019          1997        96
2867       June 1, 2017          1995       154
2993    January 1, 2021          1992        84
2997    January 1, 2020          1992       117
3135   December 1, 2020          1990       120
3297   November 1, 2019          1995        89
3483  December 31, 2019          1990       168
3546       June 1, 2019          1998       110
3806    August 16, 2018          1993        83
3895    January 1, 2019          1994       102
3943      June 21, 2019          1997        87
4076   November 1, 2019          1991       105
4136    January 1, 2020          1998       138
4140   November 1, 2019          1999       136
4168   November 1, 2020          1994       107
4193    January 1, 2020          1997       124
4245  September 1, 2018          1994       111
4361  December 31, 2019          1999       128
4445  December 31, 2019          1997       119
4456       July 1, 2020          1990       114
4490      March 1, 2018          1995       173
4718    January 1, 2020          1999       106
4746    January 1, 2020          1994       191

                                            description   genre
352   Broke and with no concrete plans for the futur...  Action
431   When diabolical genius Dr. Evil travels back i...  Action
468   In this fast-paced actioner, two Miami narcoti...  Action
515   A naïve young man and a rich city girl fall in...  Action
675   A jewel thief returns to his hiding place afte...  Action
815   When Japanese troops invade Hong Kong, young B...  Action
816   Casino mogul Benny Ho wields enormous power. B...  Action
1018  When a volcanologist comes to investigate the ...  Action
1179  In ancient times when majestic fire-breathers ...  Action
1288  Fifteen years after the Second Impact, apathet...  Action
1299  When terrorists hijack a 747 and turn it into ...  Action
1504  Framed for his older brother's murder, a boxer...  Action
1515  Giving up his life of crime for love, a gangst...  Action
1548  Pierce Brosnan takes his first turn as debonai...  Action
1599  Jailed for drug trafficking while searching fo...  Action
1661  A millionaire opens the door to comic complica...  Action
1688  After receiving a heart transplant from a murd...  Action
1698  A pugilist from Shantung struggles to rise to ...  Action
2050  Slick lawyer Sung fears he's been cursed with ...  Action
2124  A prison guard goes undercover as a dancer to ...  Action
2282  Johnnie To's character-centered drama follows ...  Action
2313  Hoping to make a bundle in a high-stakes poker...  Action
2328  An officer killed on the job returns to Earth ...  Action
2356  To prove himself to a love interest, a deliver...  Action
2521  A streetwise cop teams with a veteran governme...  Action
2616  TV news reporter James Russell helps put small...  Action
2867  A penniless actor new to Mumbai and a beautifu...  Action
2993  Air marshal John Cutter must stop notorious te...  Action
2997  CIA desk jockey Jack Ryan plunges into the hea...  Action
3135  After traveling to Australia for a job, a shar...  Action
3297  During a visit to the Bronx to help out at his...  Action
3483  A young man enrolls at a college and becomes a...  Action
3546  When the Commando Elite, a group of toy action...  Action
3806  While working at a family friend's business, a...  Action
3895  One year after Eric Draven and his fiancée are...  Action
3943  Seele orders an all-out attack on NERV, aiming...  Action
4076  Private eye Joe Hallenbeck is forced to team u...  Action
4136  An aging Zorro passes the torch to a young suc...  Action
4140  A computer hacker learns that what most people...  Action
4168  In Boston, karate master Mr. Miyagi finds a ne...  Action
4193  After terrorists trigger a nuclear blast in Ru...  Action
4245  A turbulent vacation turns deadly when a fugit...  Action
4361  Greed, revenge, world domination: It's all in ...  Action
4445  Pierce Brosnan stars in this 007 installment, ...  Action
4456  After getting a memory implant, working stiff ...  Action
4490  After being framed, a policewoman languishing ...  Action
4718  Armed with an ingenious arsenal, two top-notch...  Action
4746  Legendary lawman Wyatt Earp is continually at ...  Action

#### ii) Count
Here, I loop through the filtered data and for every movie that is shorter than 90 minutes, I add 1 to the variable `short_movie_count` which initally holds the value `0`.

In [25]:
short_movie_count = 0

for minute in nostalgic_action_movies.loc[:, "duration"]:
    if minute < 90:
        short_movie_count += 1
        
print(short_movie_count)

7